body {
    background-color: grey;
}
.Header {
    display: block;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.Header {
    display: block;
    position: relative;
    height: 40px;
    padding: 10px;
    font-size: 18x;
    line-height: 2;
    color: grey;
    background-color: hsla(0, 0%, 100%, .7);
}

.Banner_Name {
    display: inline-block;
    position: absolute;
    top: 0%;
    left:15%;
    height: 100%;
    width: 25%;
    color: white;
    background-color: turquoise;
    text-align: center;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.Header_Item {
    float: right;
}


.About_me {
    display: block;
    position: absolute;
    height: 80%;
    width: 75%;
    padding: 20px;
    background-color: whitesmoke;
    float: left;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;

}

img {
    float: left;
    margin: 2%;
    width: 20%;
    max-width: 400px;
    height: auto;
}

.h2 {

}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }